<label class="menu" for="menu-trigger">
	<span class="genericon genericon-menu"></span>
</label>
<input id="menu-trigger" class="menu-trigger" type="checkbox">
<div class="menu-content">
	<p class="menu-title">{{ site.title }}<p>
	<div class="menu" style="background-color: #1a1a1a; z-index: -1;"></div>
	{% for item in site.menu %}
		<a href="{{ item.url }}">{{ item.title }}</a>
	{% endfor %}
	<hr class="menu-title">
	{% for social in site.social %}
		<a href="{{ social.url }}" class="social-menu" target="_blank" title="{{ social.desc }}"><span class="genericon genericon-{{ social.icon }}"></span></a>
	{% endfor %}
	{% if page.article %}
	{% capture canonical %}{{ site.url }}{{ site.baseurl }}{% if site.permalink contains '.html' %}{{ page.url }}{% elsif site.permalink contains category_dir %}{{ '/' | page.url | remove:'index.html' | '/' }}{% else %}{{ page.url | remove:'index.html' | '/' }}{% endif %}{% endcapture %}
	<hr class="share-title">
	<p class="share-title">Share:</p>
	<a href="https://www.facebook.com/sharer/sharer.php?u={{ canonical }}" class="share-menu" target="_blank" title="Post on Facebook"><span class="genericon genericon-facebook-alt"></span></a>
	<a href="https://twitter.com/home?status={% if page.quote %}{{ page.quote }} {% endif %}{{ canonical }}" class="share-menu" target="_blank" title="Tweet"><span class="genericon genericon-twitter"></span></a>
	<a href="https://plus.google.com/share?url={{ canonical }}" class="share-menu" target="_blank" title="Share on Google+"><span class="genericon genericon-googleplus-alt"></span></a>
	<a href="http://www.reddit.com/submit?url={{ canonical }}&title={{ page.title }}" class="share-menu" target="_blank" title="Submit on Reddit"><span class="genericon genericon-reddit"></span></a>
	<a href="https://pinterest.com/pin/create/button/?url={{ canonical }}&media={% if page.image.url %}{{ site.url }}{{ site.baseurl }}{{ page.image.url }}{% else %}{{ site.url }}{{ site.baseurl }}{{ site.cover }}{% endif %}&description={% if page.quote %}{{ page.quote }}{% endif %}" class="share-menu" target="_blank" title="Pin it"><span class="genericon genericon-pinterest"></span></a>
	{% endif %}
</div>
<div class="social" data-stellar-ratio="0.1">
	{% for social in site.social %}
		<a href="{{ social.url }}" target="_blank" title="{{ social.desc }}"><span class="genericon genericon-{{ social.icon }}"></span></a>
	{% endfor %}
</div>
