<!DOCTYPE html>
<html>
	{% include head.html %}
	<body>
		{{ content }}
		{% if site.parallax %}
		<script>
			var width = $(window).width()
			if ( width > 899 )
			$( function(){
				$.stellar({
					responsive: true,
				verticalScrolling: true,
				horizontalOffset: 0,
				verticalOffset: 0,
				positionProperty: 'transform',
				});
			});
		</script>
		{% endif %}
		<script>
			$('html').click(function() {
				$('.menu-trigger').prop('checked', false);
				$('.share-trigger').prop('checked', false);
			});

			$('.menu, .menu-content, .menu-trigger, .share-content, .share-trigger').click(function(event) {
				event.stopPropagation();
			});
		</script>
	</body>
</html>
